<script src="https://www.google.com/jsapi"></script>
<script src="chartkick.js"></script>

<h1>Asteroids Near Earth</h1>

<table class="chart-container">
  <tr><th></th><th><%= Date.today.strftime('%b %d, %Y') %></th>
  <tr>
    <td class="chart-y-axis-label">
      Diameter<br>(meters)
    </td>
    <td class="chart-item">
      <%= column_chart @plot_data , library: {backgroundColor: "#eee"} %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td  class="chart-x-axis-label">
      Distance from Earth<br>(1/100,000th miles)
    </td>
  </tr>  
</table>
