
<%  
  if ENV.has_key? "NASA"
    toast_status = "🟢Ready"
  else
    toast_status = "🔴Not ready" 
  end
%>

<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body">
    <%= toast_status %>
    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
  </div>
</div>

<a href=" ">github repo</a>
