.chart-container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

.chart-item {
  width: 600px;
}

.chart-x-axis-label {
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}

.chart-y-axis-label {
  font-size: 15px;
  text-align: center;
  transform: rotate(-90deg);
}
